$body_bg_color: #eef1f5;
$body_font_color: #002b3d;
$text_primary_color: #0c5d80;
$text_secondary_color: #42535b;

// color
$white_paper_color: #ffffff;
$header_background_color: #42535b;

$bg_color: #101226;
$bg_table_head_color: #0c5d80;
$bg_table_row_color: #fff;
$bg_table_row_even_color: #cdd8e5;
$bg_table_row_hover_color: #00ccff;

$min_width: 1336px;
$sidebar_fix_width: 270px;

$container_background: #42535b;
$container_background_hover: #6f8894;
$container_border: #dfe6ec;
$sentiment_positive: #00B4C0;
$sentiment_neutral: #FFB231;
$sentiment_negative: #FF5C5F;
$grey_color: #9bacb3;
$border-grey-color: #EEE;

$transition: 1s;

$container_height: 765px;
$mobile_width: 767px;

$live_feed_icon_size: 35px;
