.card-feature-trip-container {
  margin: 15px 15px 15px 0;
  width: 250px;
  height: 265px;
  .card {
    border: initial;
    .card-img-top {
      border-radius: 8px;
    }
  }
  .card-image {
    border-radius: 8px;
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center; 
  }
  .point{
    width: 100px;
    height: 25px;
    border-radius: 12.5px;
    background-color: #fd6524;
    color: white;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card-title {
    margin-top: 5px;
    color: #1e146d;
    font-size: 14px;
    line-height: 1.43;
    font-weight: bold;
  }
  .card-subtitle {
    width: 200px;
    height: 16px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #191d60;
  }
  .card-text {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #4860b4;
  }
  &:hover {
    cursor: pointer;
  }
}