.trips-page-container {
  margin-bottom: 50px;
  .container {
    .main-title {
      font-size: 28px;
      line-height: 32px;
      text-align: center;
      font-weight: bold;
      color: #191d60;
    }
  }
}