.trip-detail-page-container {
  margin-bottom: 20px;
  .container {
    padding: 0;
    .card-trip-container {
      .card {
        .card-image {
          border-radius: 0;
        }
        .card-body {
          padding: 10px 15px 0 15px;
        }
      }
      .card-title {
        font-size: 20px;
        line-height: 24px;
        font-weight: bold;
      }
    }
    .progress-bar-container {
      padding: 0 15px;
    }
    .complete-button {
      margin: 30px 0;
      display: flex;
      justify-content: center;
    }
    .start-button {
      margin: 30px 0;
      display: flex;
      justify-content: center;
    }
  }
  .tvl-tab-content-wrapper {
    margin-top: 10px;
  }
}