.ongoing-trip-list-container {
  .title {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    color: #1a1b64;
  }
  .slick-slider {
    min-width: 300px;
  }
}