.location-verification-container {
  margin: 10px;
  .google-map-wrapper {
    border-radius: 4px;
  }

  .location-check-in {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
